openapi: 3.1.0
info:
  contact:
    name: GlueOps
  description: API for managing K3s clusters across cloud providers
  title: AutoGlue API
  version: dev
externalDocs:
  description: ""
  url: ""
servers:
- description: Production API
  url: https://autoglue.glueopshosted.com/api/v1
- description: Pre-Production API
  url: https://autoglue.glueopshosted.rocks/api/v1
- description: Staging API
  url: https://autoglue.apps.nonprod.earth.onglueops.rocks/api/v1
- description: Local dev
  url: http://localhost:8080/api/v1
paths:
  /.well-known/jwks.json:
    get:
      description: Returns the JSON Web Key Set for token verification
      operationId: getJWKS
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.JWKS"
          description: OK
      summary: Get JWKS
      tags:
      - Auth
  /admin/archer/jobs:
    get:
      description: "Paginated background jobs with optional filters. Search `q` may\
        \ match id, type, error, payload (implementation-dependent)."
      operationId: AdminListArcherJobs
      parameters:
      - description: Filter by status
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - queued
          - running
          - succeeded
          - failed
          - canceled
          - retrying
          - scheduled
          type: string
        style: form
      - description: Filter by queue name / worker name
        explode: true
        in: query
        name: queue
        required: false
        schema:
          type: string
        style: form
      - description: Free-text search
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Items per page
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.PageJob"
          description: OK
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: forbidden
        "500":
          content:
            application/json:
              schema:
                type: string
          description: internal error
      security:
      - BearerAuth: []
      summary: List Archer jobs (admin)
      tags:
      - ArcherAdmin
    post:
      description: Create a job immediately or schedule it for the future via `run_at`.
      operationId: AdminEnqueueArcherJob
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/dto.EnqueueRequest"
        description: Job parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.Job"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid json or missing fields
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: forbidden
        "500":
          content:
            application/json:
              schema:
                type: string
          description: internal error
      security:
      - BearerAuth: []
      summary: Enqueue a new Archer job (admin)
      tags:
      - ArcherAdmin
  /admin/archer/jobs/{id}/cancel:
    post:
      description: "Set job status to canceled if cancellable. For running jobs, this\
        \ only affects future picks; wire to Archer if you need active kill."
      operationId: AdminCancelArcherJob
      parameters:
      - description: Job ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.Job"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid job or not cancellable
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
      security:
      - BearerAuth: []
      summary: Cancel an Archer job (admin)
      tags:
      - ArcherAdmin
  /admin/archer/jobs/{id}/retry:
    post:
      description: Marks the job retriable (DB flip). Swap this for an Archer admin
        call if you expose one.
      operationId: AdminRetryArcherJob
      parameters:
      - description: Job ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.Job"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid job or not eligible
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
      security:
      - BearerAuth: []
      summary: Retry a failed/canceled Archer job (admin)
      tags:
      - ArcherAdmin
  /admin/archer/queues:
    get:
      description: "Summary metrics per queue (pending, running, failed, scheduled)."
      operationId: AdminListArcherQueues
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/dto.QueueInfo"
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: forbidden
        "500":
          content:
            application/json:
              schema:
                type: string
          description: internal error
      security:
      - BearerAuth: []
      summary: List Archer queues (admin)
      tags:
      - ArcherAdmin
  /annotations:
    get:
      description: "Returns annotations for the organization in X-Org-ID. Filters:\
        \ `key`, `value`, and `q` (key contains). Add `include=node_pools` to include\
        \ linked node pools."
      operationId: ListAnnotations
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Exact key
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: Exact value
        explode: true
        in: query
        name: value
        required: false
        schema:
          type: string
        style: form
      - description: key contains (case-insensitive)
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/dto.AnnotationResponse"
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: failed to list annotations
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: List annotations (org scoped)
      tags:
      - Annotations
    post:
      description: Creates an annotation.
      operationId: CreateAnnotation
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/dto.CreateAnnotationRequest"
        description: Annotation payload
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.AnnotationResponse"
          description: Created
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid json / missing fields
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: create failed
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Create annotation (org scoped)
      tags:
      - Annotations
  /annotations/{id}:
    delete:
      description: Permanently deletes the annotation.
      operationId: DeleteAnnotation
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Annotation ID (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: delete failed
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Delete annotation (org scoped)
      tags:
      - Annotations
    get:
      description: Returns one annotation. Add `include=node_pools` to include node
        pools.
      operationId: GetAnnotation
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Annotation ID (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.AnnotationResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: fetch failed
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Get annotation by ID (org scoped)
      tags:
      - Annotations
    patch:
      description: Partially update annotation fields.
      operationId: UpdateAnnotation
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Annotation ID (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/dto.UpdateAnnotationRequest"
        description: Fields to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.AnnotationResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id / invalid json
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: update failed
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Update annotation (org scoped)
      tags:
      - Annotations
  /auth/logout:
    post:
      operationId: Logout
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/dto.LogoutRequest"
        description: Refresh token
        required: true
      responses:
        "204":
          description: No Content
      summary: Revoke refresh token family (logout everywhere)
      tags:
      - Auth
  /auth/refresh:
    post:
      operationId: Refresh
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/dto.RefreshRequest"
        description: Refresh token
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.TokenPair"
          description: OK
      summary: Rotate refresh token
      tags:
      - Auth
  /auth/{provider}/callback:
    get:
      operationId: AuthCallback
      parameters:
      - description: google|github
        explode: false
        in: path
        name: provider
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.TokenPair"
          description: OK
      summary: Handle social login callback
      tags:
      - Auth
  /auth/{provider}/start:
    post:
      description: Returns provider authorization URL for the frontend to redirect
      operationId: AuthStart
      parameters:
      - description: google|github
        explode: false
        in: path
        name: provider
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.AuthStartResponse"
          description: OK
      summary: Begin social login
      tags:
      - Auth
  /clusters:
    get:
      description: Returns clusters for the organization in X-Org-ID. Filter by `q`
        (name contains).
      operationId: ListClusters
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Name contains (case-insensitive)
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/dto.ClusterResponse"
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: failed to list clusters
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: List clusters (org scoped)
      tags:
      - Clusters
    post:
      description: Creates a cluster. Status is managed by the system and starts as
        `pre_pending` for validation.
      operationId: CreateCluster
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/dto.CreateClusterRequest"
        description: payload
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.ClusterResponse"
          description: Created
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid json
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: create failed
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Create cluster (org scoped)
      tags:
      - Clusters
  /clusters/{clusterID}:
    delete:
      description: Deletes the cluster. Related resources are cleaned up via DB constraints
        (e.g. CASCADE).
      operationId: DeleteCluster
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                type: string
          description: deleted
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: cluster not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: db error
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Delete a cluster (org scoped)
      tags:
      - Clusters
    get:
      description: "Returns a cluster with all related resources (domain, record set,\
        \ load balancers, bastion, node pools)."
      operationId: GetCluster
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.ClusterResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: cluster not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: db error
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Get a single cluster by ID (org scoped)
      tags:
      - Clusters
    patch:
      description: "Updates the cluster name, provider, and/or region. Status is managed\
        \ by the system."
      operationId: UpdateCluster
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/dto.UpdateClusterRequest"
        description: payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.ClusterResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: cluster not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: db error
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Update basic cluster details (org scoped)
      tags:
      - Clusters
  /clusters/{clusterID}/apps-load-balancer:
    delete:
      description: Clears apps_load_balancer_id on the cluster.
      operationId: DetachAppsLoadBalancer
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.ClusterResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: cluster not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: db error
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Detach the apps load balancer from a cluster
      tags:
      - Clusters
    post:
      description: Sets apps_load_balancer_id on the cluster.
      operationId: AttachAppsLoadBalancer
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/dto.AttachLoadBalancerRequest"
        description: payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.ClusterResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: cluster or load balancer not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: db error
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Attach an apps load balancer to a cluster
      tags:
      - Clusters
  /clusters/{clusterID}/bastion:
    delete:
      description: Clears bastion_server_id on the cluster.
      operationId: DetachBastionServer
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.ClusterResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: cluster not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: db error
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Detach the bastion server from a cluster
      tags:
      - Clusters
    post:
      description: Sets bastion_server_id on the cluster.
      operationId: AttachBastionServer
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/dto.AttachBastionRequest"
        description: payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.ClusterResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: cluster or server not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: db error
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Attach a bastion server to a cluster
      tags:
      - Clusters
  /clusters/{clusterID}/captain-domain:
    delete:
      description: Clears captain_domain_id on the cluster. This will likely cause
        the cluster to become incomplete.
      operationId: DetachCaptainDomain
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.ClusterResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: cluster not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: db error
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Detach the captain domain from a cluster
      tags:
      - Clusters
    post:
      description: Sets captain_domain_id on the cluster. Validation of shape happens
        asynchronously.
      operationId: AttachCaptainDomain
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/dto.AttachCaptainDomainRequest"
        description: payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.ClusterResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: cluster or domain not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: db error
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Attach a captain domain to a cluster
      tags:
      - Clusters
  /clusters/{clusterID}/control-plane-record-set:
    delete:
      description: Clears control_plane_record_set_id on the cluster.
      operationId: DetachControlPlaneRecordSet
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.ClusterResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: cluster not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: db error
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Detach the control plane record set from a cluster
      tags:
      - Clusters
    post:
      description: Sets control_plane_record_set_id on the cluster.
      operationId: AttachControlPlaneRecordSet
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/dto.AttachRecordSetRequest"
        description: payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.ClusterResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: cluster or record set not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: db error
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Attach a control plane record set to a cluster
      tags:
      - Clusters
  /clusters/{clusterID}/glueops-load-balancer:
    delete:
      description: Clears glueops_load_balancer_id on the cluster.
      operationId: DetachGlueOpsLoadBalancer
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.ClusterResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: cluster not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: db error
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Detach the GlueOps/control-plane load balancer from a cluster
      tags:
      - Clusters
    post:
      description: Sets glueops_load_balancer_id on the cluster.
      operationId: AttachGlueOpsLoadBalancer
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/dto.AttachLoadBalancerRequest"
        description: payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.ClusterResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: cluster or load balancer not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: db error
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Attach a GlueOps/control-plane load balancer to a cluster
      tags:
      - Clusters
  /clusters/{clusterID}/kubeconfig:
    delete:
      description: "Removes the encrypted kubeconfig, IV, and tag from the cluster\
        \ record."
      operationId: ClearClusterKubeconfig
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.ClusterResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: cluster not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: db error
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Clear the kubeconfig for a cluster
      tags:
      - Clusters
    post:
      description: Stores the kubeconfig encrypted per organization. The kubeconfig
        is never returned in responses.
      operationId: SetClusterKubeconfig
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/dto.SetKubeconfigRequest"
        description: payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.ClusterResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: cluster not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: db error
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Set (or replace) the kubeconfig for a cluster
      tags:
      - Clusters
  /clusters/{clusterID}/node-pools:
    post:
      description: Adds an entry in the cluster_node_pools join table.
      operationId: AttachNodePool
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/dto.AttachNodePoolRequest"
        description: payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.ClusterResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: cluster or node pool not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: db error
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Attach a node pool to a cluster
      tags:
      - Clusters
  /clusters/{clusterID}/node-pools/{nodePoolID}:
    delete:
      description: Removes an entry from the cluster_node_pools join table.
      operationId: DetachNodePool
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterID
        required: true
        schema:
          type: string
        style: simple
      - description: Node Pool ID
        explode: false
        in: path
        name: nodePoolID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.ClusterResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: cluster or node pool not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: db error
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Detach a node pool from a cluster
      tags:
      - Clusters
  /credentials:
    get:
      description: Returns credential metadata for the current org. Secrets are never
        returned.
      operationId: ListCredentials
      parameters:
      - description: Organization ID (UUID)
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: "Filter by provider (e.g., aws)"
        explode: true
        in: query
        name: provider
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by kind (e.g., aws_access_key)"
        explode: true
        in: query
        name: kind
        required: false
        schema:
          type: string
        style: form
      - description: Filter by scope kind (provider/service/resource)
        explode: true
        in: query
        name: scope_kind
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/dto.CredentialOut"
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: internal server error
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: List credentials (metadata only)
      tags:
      - Credentials
    post:
      operationId: CreateCredential
      parameters:
      - description: Organization ID (UUID)
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/dto.CreateCredentialRequest"
        description: Credential payload
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.CredentialOut"
          description: Created
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: internal server error
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Create a credential (encrypts secret)
      tags:
      - Credentials
  /credentials/{id}:
    delete:
      operationId: DeleteCredential
      parameters:
      - description: Organization ID (UUID)
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Credential ID (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Delete credential
      tags:
      - Credentials
    get:
      operationId: GetCredential
      parameters:
      - description: Organization ID (UUID)
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Credential ID (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.CredentialOut"
          description: OK
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: internal server error
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Get credential by ID (metadata only)
      tags:
      - Credentials
    patch:
      operationId: UpdateCredential
      parameters:
      - description: Organization ID (UUID)
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Credential ID (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/dto.UpdateCredentialRequest"
        description: Fields to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.CredentialOut"
          description: OK
        "403":
          content:
            application/json:
              schema:
                type: string
          description: X-Org-ID required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Update credential metadata and/or rotate secret
      tags:
      - Credentials
  /credentials/{id}/reveal:
    post:
      operationId: RevealCredential
      parameters:
      - description: Organization ID (UUID)
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Credential ID (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
          description: OK
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Reveal decrypted secret (one-time read)
      tags:
      - Credentials
  /dns/domains:
    get:
      description: "Returns domains for X-Org-ID. Filters: `domain_name`, `status`,\
        \ `q` (contains)."
      operationId: ListDomains
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: "Exact domain name (lowercase, no trailing dot)"
        explode: true
        in: query
        name: domain_name
        required: false
        schema:
          type: string
        style: form
      - description: pending|provisioning|ready|failed
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      - description: Domain contains (case-insensitive)
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/dto.DomainResponse"
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: db error
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: List domains (org scoped)
      tags:
      - DNS
    post:
      description: Creates a domain bound to a Route 53 scoped credential. Archer
        will backfill ZoneID if omitted.
      operationId: CreateDomain
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/dto.CreateDomainRequest"
        description: Domain payload
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.DomainResponse"
          description: Created
        "400":
          content:
            application/json:
              schema:
                type: string
          description: validation error
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: db error
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Create a domain (org scoped)
      tags:
      - DNS
  /dns/domains/{domain_id}/records:
    get:
      description: "Filters: `name`, `type`, `status`."
      operationId: ListRecordSets
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Domain ID (UUID)
        explode: false
        in: path
        name: domain_id
        required: true
        schema:
          type: string
        style: simple
      - description: Exact relative name or FQDN (server normalizes)
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: "RR type (A, AAAA, CNAME, TXT, MX, NS, SRV, CAA)"
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: pending|provisioning|ready|failed
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/dto.RecordSetResponse"
                type: array
          description: OK
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: domain not found
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: List record sets for a domain
      tags:
      - DNS
    post:
      operationId: CreateRecordSet
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Domain ID (UUID)
        explode: false
        in: path
        name: domain_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/dto.CreateRecordSetRequest"
        description: Record set payload
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.RecordSetResponse"
          description: Created
        "400":
          content:
            application/json:
              schema:
                type: string
          description: validation error
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: domain not found
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Create a record set (pending; Archer will UPSERT to Route 53)
      tags:
      - DNS
  /dns/domains/{id}:
    delete:
      operationId: DeleteDomain
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Domain ID (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Delete a domain
      tags:
      - DNS
    get:
      operationId: GetDomain
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Domain ID (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.DomainResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Get a domain (org scoped)
      tags:
      - DNS
    patch:
      operationId: UpdateDomain
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Domain ID (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/dto.UpdateDomainRequest"
        description: Fields to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.DomainResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: validation error
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Update a domain (org scoped)
      tags:
      - DNS
  /dns/records/{id}:
    delete:
      operationId: DeleteRecordSet
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Record Set ID (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Delete a record set (API removes row; worker can optionally handle
        external deletion policy)
      tags:
      - DNS
    patch:
      operationId: UpdateRecordSet
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Record Set ID (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/dto.UpdateRecordSetRequest"
        description: Fields to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.RecordSetResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: validation error
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Update a record set (flips to pending for reconciliation)
      tags:
      - DNS
  /healthz:
    get:
      description: Returns 200 OK when the service is up
      operationId: HealthCheck               // operationId
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/handlers.HealthStatus"
          description: OK
      summary: Basic health check
      tags:
      - Health
  /labels:
    get:
      description: "Returns node labels for the organization in X-Org-ID. Filters:\
        \ `key`, `value`, and `q` (key contains). Add `include=node_pools` to include\
        \ linked node groups."
      operationId: ListLabels
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Exact key
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: Exact value
        explode: true
        in: query
        name: value
        required: false
        schema:
          type: string
        style: form
      - description: Key contains (case-insensitive)
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/dto.LabelResponse"
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: failed to list node taints
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: List node labels (org scoped)
      tags:
      - Labels
    post:
      description: Creates a label.
      operationId: CreateLabel
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/dto.CreateLabelRequest"
        description: Label payload
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.LabelResponse"
          description: Created
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid json / missing fields / invalid node_pool_ids
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: create failed
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Create label (org scoped)
      tags:
      - Labels
  /labels/{id}:
    delete:
      description: Permanently deletes the label.
      operationId: DeleteLabel
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Label ID (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: delete failed
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Delete label (org scoped)
      tags:
      - Labels
    get:
      description: Returns one label.
      operationId: GetLabel
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Label ID (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.LabelResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: fetch failed
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Get label by ID (org scoped)
      tags:
      - Labels
    patch:
      description: Partially update label fields.
      operationId: UpdateLabel
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Label ID (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/dto.UpdateLabelRequest"
        description: Fields to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.LabelResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id / invalid json
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: update failed
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Update label (org scoped)
      tags:
      - Labels
  /load-balancers:
    get:
      description: Returns load balancers for the organization in X-Org-ID.
      operationId: ListLoadBalancers
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/dto.LoadBalancerResponse"
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: failed to list clusters
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: List load balancers (org scoped)
      tags:
      - LoadBalancers
    post:
      operationId: CreateLoadBalancer
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/dto.CreateLoadBalancerRequest"
        description: Record set payload
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.LoadBalancerResponse"
          description: Created
        "400":
          content:
            application/json:
              schema:
                type: string
          description: validation error
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: domain not found
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Create a load balancer
      tags:
      - LoadBalancers
  /load-balancers/{id}:
    delete:
      operationId: DeleteLoadBalancer
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Load Balancer ID (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Delete a load balancer
      tags:
      - LoadBalancers
    get:
      description: Returns load balancer for the organization in X-Org-ID.
      operationId: GetLoadBalancers
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: LoadBalancer ID (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/dto.LoadBalancerResponse"
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: failed to list clusters
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Get a load balancer (org scoped)
      tags:
      - LoadBalancers
    patch:
      operationId: UpdateLoadBalancer
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Load Balancer ID (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/dto.UpdateLoadBalancerRequest"
        description: Fields to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.LoadBalancerResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: validation error
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Update a load balancer (org scoped)
      tags:
      - LoadBalancers
  /me:
    get:
      operationId: GetMe
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/handlers.meResponse"
          description: OK
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Get current user profile
      tags:
      - Me
    patch:
      operationId: UpdateMe
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/handlers.updateMeRequest"
        description: Patch profile
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.User"
          description: OK
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Update current user profile
      tags:
      - Me
  /me/api-keys:
    get:
      operationId: ListUserAPIKeys
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/handlers.userAPIKeyOut"
                type: array
          description: OK
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: List my API keys
      tags:
      - MeAPIKeys
    post:
      description: Returns the plaintext key once. Store it securely on the client
        side.
      operationId: CreateUserAPIKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/handlers.createUserKeyRequest"
        description: Key options
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/handlers.userAPIKeyOut"
          description: Created
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      summary: Create a new user API key
      tags:
      - MeAPIKeys
  /me/api-keys/{id}:
    delete:
      operationId: DeleteUserAPIKey
      parameters:
      - description: Key ID (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
      security:
      - BearerAuth: []
      summary: Delete a user API key
      tags:
      - MeAPIKeys
  /node-pools:
    get:
      description: Returns node pools for the organization in X-Org-ID.
      operationId: ListNodePools
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Name contains (case-insensitive)
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/dto.NodePoolResponse"
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: failed to list node pools
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: List node pools (org scoped)
      tags:
      - NodePools
    post:
      description: Creates a node pool. Optionally attach initial servers.
      operationId: CreateNodePool
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/dto.CreateNodePoolRequest"
        description: NodePool payload
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.NodePoolResponse"
          description: Created
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid json / missing fields / invalid server_ids
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: create failed
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Create node pool (org scoped)
      tags:
      - NodePools
  /node-pools/{id}:
    delete:
      description: Permanently deletes the node pool.
      operationId: DeleteNodePool
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Node Pool ID (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: delete failed
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Delete node pool (org scoped)
      tags:
      - NodePools
    get:
      description: Returns one node pool. Add `include=servers` to include servers.
      operationId: GetNodePool
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Node Pool ID (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.NodePoolResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: fetch failed
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Get node pool by ID (org scoped)
      tags:
      - NodePools
    patch:
      description: Partially update node pool fields.
      operationId: UpdateNodePool
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Node Pool ID (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/dto.UpdateNodePoolRequest"
        description: Fields to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dto.NodePoolResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id / invalid json
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: update failed
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: Update node pool (org scoped)
      tags:
      - NodePools
  /node-pools/{id}/annotations:
    get:
      operationId: ListNodePoolAnnotations
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Node Pool ID (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/dto.AnnotationResponse"
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: fetch failed
      security:
      - BearerAuth: []
      - OrgKeyAuth: []
      - OrgSecretAuth: []
      summary: List annotations attached to a node pool (org scoped)
      tags:
      - NodePools
    post:
      operationId: AttachNodePoolAnnotations
      parameters:
      - description: Organization UUID
        explode: false
        in: header
        name: X-Org-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Node Group ID (UUID)
        explode: false
        in: path
[...]
